
2D-Environment.filters
2D-Environment.vcxproj
2D-Environment.vcxproj.user
x64/Debug/2D-Environment.exe.recipe
x64/Debug/2D-Environment.ilk
x64/Debug/2D-Environment.log
x64/Debug/2D-Environment.tlog/2D-Environment.lastbuildstate
x64/Debug/2D-Environment.tlog/CL.command.1.tlog
x64/Debug/2D-Environment.tlog/CL.read.1.tlog
x64/Debug/2D-Environment.tlog/CL.write.1.tlog
x64/Debug/2D-Environment.tlog/link.command.1.tlog
x64/Debug/2D-Environment.tlog/link.read.1.tlog
x64/Debug/2D-Environment.tlog/link.write.1.tlog
x64/Debug/app.obj
x64/Debug/main.obj
x64/Debug/Render.obj
x64/Debug/textureLoader.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/vkhelper.obj
x64/Debug/vkinit.obj
2D-Environment.vcxproj.filters
x64/Debug/stb_image.obj
x64/Debug/2D-Environment.Build.CppClean.log
x64/Debug/2D-Environment.vcxproj.FileListAbsolute.txt
x64/Release/2D-Environment.exe.recipe
x64/Release/2D-Environment.iobj
x64/Release/2D-Environment.ipdb
x64/Release/2D-Environment.log
x64/Release/2D-Environment.tlog/2D-Environment.lastbuildstate
x64/Release/2D-Environment.tlog/CL.command.1.tlog
x64/Release/2D-Environment.tlog/CL.read.1.tlog
x64/Release/2D-Environment.tlog/CL.write.1.tlog
x64/Release/2D-Environment.tlog/link.command.1.tlog
x64/Release/2D-Environment.tlog/link.read.1.tlog
x64/Release/2D-Environment.tlog/link.write.1.tlog
x64/Release/app.obj
x64/Release/main.obj
x64/Release/Render.obj
x64/Release/stb_image.obj
x64/Release/textureLoader.obj
x64/Release/vc142.pdb
x64/Release/vkhelper.obj
x64/Release/vkinit.obj
x64/Debug/Font.obj
x64/Debug/Audio.obj
vert.spv
frag.spv
x64/Release/Font.obj
x64/Release/Audio.obj
ladyblue.mp3
.vscode/launch.json
.vscode/c_cpp_properties.json
